<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 mat-dialog-title style="text-align: center; font-size: 40px;">Contact us</h1>
<h2 mat-dialog-title style="text-align: center;">We’d love to hear from you</h2>
<mat-dialog-content class="mat-typography">
  <h3>Whether you have a question about features, trials, pricing, need a demo,
    or anything else, our team is ready to answer all your questions</h3>

    <p>Interested in any of our products? Talk to our experts today</p>
    <h2>(Availability 24*7)</h2>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <a mat-button href="tel:+91-626-350-6388" color="accent">
    <mat-icon>phone</mat-icon>
    Call Now
  </a>
  <a mat-button href="https://api.whatsapp.com/send?phone=+91 6263506388 &text=Hii...I am interested in your projects." color="accent" cdkFocusInitial>
    <mat-icon svgIcon="whatsapp" aria-hidden="false"></mat-icon>
    Whatsapp
  </a>
</mat-dialog-actions>
