<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list style="padding-top: 0;">
      <a mat-list-item [routerLink]="[link.route]" routerLinkActive="router-link-active" *ngFor="let link of links">
        <mat-icon mat-list-icon color="accent">{{link.icon}}</mat-icon>
        <div mat-line>{{link.name}}</div>
        <mat-divider></mat-divider>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h2>Project <span style="background-color: #6ac045; padding: 5px;border-radius: 25px;">Hub</span></h2>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="margin: 16px;">
      <router-outlet></router-outlet>
    </div>
    <mat-toolbar color="primary">
      <footer class="title-center">
      <span class="mat-body-2">© 2020 Copyright: projectHub.com</span>
    </footer>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
